# vagrant temporary files
**/.vagrant/

# provisioning temporary files
scripts/worker.sh
config/admin.conf

# other lab files
# *.yaml
# !/resources/metallb.yaml
# !/resources/pv-local.yaml
# !/resources/pv-nfs.yaml